@using Store.Web.App
@model OrderModel

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table>
    <thead class="thead-blue">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Producer</th>
            <th scope="col">Title</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Length; i++)
        {
            <tr>
                <td class="text-right">@(i+1)</td>
                <td>@Model.Items[i].Producer</td>
                <td>@Model.Items[i].Title</td>
                <td class="text-right">@Model.Items[i].Count</td>
                <td class="text-right">@Model.Items[i].Price</td>
                <td class="text-center">
                    <form class="form-check-inline" action="@Url.Action("RemoveItem","Order")" method="post">
                        <input type="hidden" name="bicycleId" value="@Model.Items[i].BicycleId"/>
                        <button class="btn btn-danger" type="submit">Remove item</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.TotalPrice</td>
            <td class="text-right">@Model.TotalCount</td>
        </tr>
    </tfoot>
</table>

<p>
    For make an order, You need to confirm your cellphone number.
    Write your number below and press <em>Send code</em>.
    You will recieve a SMS with *confirmation code* in it.
</p>

<form action="@Url.Action(nameof(OrderController.SendConfirmation))" method="post"> 
    <div class="form-group">
        <label for="cellPhone">Cellphone number</label>
        <input type="text" class="form-control" name="cellPhone" placeholder="+12345678901" value="+12345678901" />
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Send code</button>
</form>