@model BicycleModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>   
<p><strong>@Model.Producer</strong></p>
<p>@Model.Description</p>
<p>Price: <strong>@Model.Price</strong></p>
<form action="@Url.Action(nameof(OrderController.AddItem), "Order")" method="post">
    <input type="hidden" name="bicycleId" value="@Model.Id" />
    <button class="btn btn-success" type="submit">To the cart</button>

</form>

